/* 
* normalize cssをhtmlの方で指定しているのでここでmormalizeやリセットをする必要はありません
* 要素を指定するときは、基本的に、htmlタグ名ではなく、id名やclass名を使用してください
* font-sizeやfontのジャンプ率、marginやpaddingの比率はデザイナーに相談すると良いでしょう
* どのページのどの部分のcssか分かるように、コメントアウトを必ず使用してください。以下に例を載せておきます
* できるだけ、htmlの親要素のcss(レイアウトやコンテンツ幅の指定など)→小要素のcss(文字の大きさや色など)という順番で記述しましょう
*/


/* profile プロフィール ここから */

/* profile プロフィール ここまで */