/* 
* normalize cssをhtmlの方で指定しているのでここでmormalizeやリセットをする必要はありません
* 要素を指定するときは、基本的に、htmlタグ名ではなく、id名やclass名を使用してください
* font-sizeやfontのジャンプ率、marginやpaddingの比率はデザイナーに相談すると良いでしょう
* どのページのどの部分のcssか分かるように、コメントアウトを必ず使用してください。以下に例を載せておきます
* できるだけ、htmlの親要素のcss(レイアウトやコンテンツ幅の指定など)→小要素のcss(文字の大きさや色など)という順番で記述しましょう
*/

/* base.html ここから */
html {
  font-size: 16px; /*他の場所で1remというサイズ指定をすると16px, 2remは16*2pxとなる*/
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
    padding: 0;
}
ul {
    margin: 0;
    padding-inline-start: 0px;

}
li {
    padding: 0;
    list-style: none;
}


.selector-for-some-widget {
  /* これは、bootstrapを使用する際に、box-sizingを変更する */
  box-sizing: border-box;
}

#header, #sp-nav {
    display: none;
}

#pc-nav {
    display: block;
}

@media screen and (max-width: 768px) {
    #header, #sp-nav {
        display: block;
    }
    #sp-nav-list {
        display: block;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        width: 90%;
        position: fixed;
        bottom: 0;
    }
    #pc-nav {
        display: none;
    }
}

/* base.htmlここまで */

/* profile プロフィール ここから */
#header {
  height: 219px;
}

#self-introduction {
}

#icon-username-wrapper {
}

/* profile プロフィール ここまで */

/* signup_login.htmlのcss ここから */
.slide {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slide-image1,
.slide-image2,
.slide-image3,
.slide-image4 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  animation: slider-1 24s linear infinite;
  z-index: -1;
}

.slide-image1 {
  background-image: url(img/login.png);
  animation-delay: -2s;
}

.slide-image2 {
  background-image: url(img/login1.png);
  animation-delay: 6s;
}

.slide-image3 {
  background-image: url(img/login2.png);
  animation-delay: 14s;
}


.slide-image4 {
  background-image: url(img/login3.png);
  animation-delay: 22s;
}

#to-login-button, #to-signin-button {
    display: inline;
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    color: #ffffff;
    
}
p.login {
    text-align: center;
}

@keyframes slider-1 {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  4.16% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  41.66% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
  }
}

h2.randaction {
  font-size: 5rem;
  color: white;
  margin: 0 auto;
  text-align: center;
}

h3.signup, h3.login {
  font-size: 2rem;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
}

.row {
  font-size: 28px;
  font-weight: 250;
  color: white;
  text-align: center;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 60%;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.row input {
  color: #000;
  width: 40%;
  height: 40px;
  opacity: 0.5;
  border-style: none;
  border-radius: 20px;
  box-shadow: 0 0 10px 0px  #00000045;
  font-size: 1.2rem;
  padding: 0 1rem;
}
.row label {
    text-shadow: 0 0 10px 0px  #00000045;

}

.login p {
  text-align: center;
}

.login a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: center;
}

.lineArrow {
  width: 20%;
  height: 10px;
  margin-left: 40%;
  border-bottom: solid #ffffff;
  border-right: solid #ffffff;
  /*傾きを調節*/
  transform: skew(45deg);
  /*下線矢印をテキストに合わせてうまい具合にはめる*/

  text-align: center;
}
.signup-button {
  text-align: center;
}
#submit {
  background-color: #f17836; /* ボタンの背景色 */
  border: none; /* ボタンのボーダーをなくす */
  color: white; /* ボタンのテキスト色 */
  padding: 15px 32px; /* ボタンのパディング */
  text-align: center; /* ボタンのテキストを中央揃え */
  text-decoration: none; /* テキストの装飾をなくす */
  display: inline-block; /* ボタンをブロック要素として表示 */
  font-size: 20px; /* ボタンのテキストのフォントサイズ */
  margin: 4px 2px; /* ボタンのマージン */
  cursor: pointer; /* カーソルをポインターに変更 */
  border-radius: 10px; /* ボタンの角を丸くする */
  padding-top: 20px;
}

.signin-button {
  text-align: center;
}
@media screen and (max-width: 768px) {
  /* スマートフォン用CSS記述 */
  h2.randaction {
    font-size: 50px;
    color: white;
    margin: 0 auto;
    text-align: center;
  }

  h3 {
    font-size: 24px;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    font-weight: 300;
  }

  form {
    padding-top: 20px;
  }
  form .row {
    font-size: 20px;
    font-weight: 250;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    padding-bottom: 1rem;
    margin-top: 20px;
  }
  form .row label {
    text-align: start;
  }
  form .row input {
    width: 100%;
    color: #000;
  }

  h3.login {
    font-size: 50px;
    color: white;
    text-align: center;
  }
}

/*base.htmlのcss　ここから*/
.mission-back{
 max-width: 100%;
 width: 800px;
 background-image:
    url(img/mission-back.png);
    background-position: right;
    display: inline-block;
    text-align: right;
}
.back-text{
    margin-right: auto; display:block;
    
}
h3.day-mission{
 font-size: 20px;
 color: white;
 
}

#mission{
 font-size: 48px;
 color: white;
 font-weight: 300;
 text-align: center;
 
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

#mission-mean{
 text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: white;
}
/*base.htmlのcss　ここまで*/

/* signup_login.htmlのcss ここまで */

/* signup_login.htmlのcss ここまで */

/*timeline.htmlのcss　ここから*/

#posts-wrapper {
  display: flex;
  flex-wrap: wrap;
}


#reload-button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  align-items: center;
  background-color: #d8d8d8;
  border-radius: 3rem;
  box-shadow: 11px 11px 22px #c7c7c7, -11px -11px 22px #f8f8f8;
  display: block;
  text-align: center;
}

#reload-button:hover {
  box-shadow: inset 7px 7px 14px #c7c7c7, inset -7px -7px 14px #f8f8f8;
}

#home-order-menu {
  display: flex;
  justify-content:end;
  align-items: center;
  width: 100%;
}

#sort-by-favorites {
  padding: 0.5rem 1rem;
  margin: 1rem;
  color: black;
  font-size: 1rem;
  background-color: #d8d8d8;
  border-radius: 3rem;
  box-shadow: 11px 11px 22px #c7c7c7, -11px -11px 22px #f8f8f8;
  display: block;
  text-align: center;
}

#sort-by-favorites:hover {
  box-shadow: inset 7px 7px 14px #c7c7c7, inset -7px -7px 14px #f8f8f8;
}

#sort-by-created-desc {
  padding: 0.5rem 1rem;
  margin: 1rem;
  color: black;
  font-size: 1rem;
  background-color: #d8d8d8;
  border-radius: 3rem;
  box-shadow: 11px 11px 22px #c7c7c7, -11px -11px 22px #f8f8f8;
  display: block;
  text-align: center;
}

#sort-by-created-desc:hover {
  box-shadow: inset 7px 7px 14px #c7c7c7, inset -7px -7px 14px #f8f8f8;
}

/*timeline.htmlのcss　ここまで*/

/* SP版のCSSはここから書いてね */
@media screen and (max-width: 576px) {
  /* signup_login.htmlのcssここから */
  #signup {
    width: 100%;
    padding: 1rem;
  }
  /* signup_login.htmlのcssここまで */
}
