/* 
* normalize cssをhtmlの方で指定しているのでここでmormalizeやリセットをする必要はありません
* 要素を指定するときは、基本的に、htmlタグ名ではなく、id名やclass名を使用してください
* font-sizeやfontのジャンプ率、marginやpaddingの比率はデザイナーに相談すると良いでしょう
* どのページのどの部分のcssか分かるように、コメントアウトを必ず使用してください。以下に例を載せておきます
* できるだけ、htmlの親要素のcss(レイアウトやコンテンツ幅の指定など)→小要素のcss(文字の大きさや色など)という順番で記述しましょう
*/

html {
    font-size: 16px; /*他の場所で1remというサイズ指定をすると16px, 2remは16*2pxとなる*/
    box-sizing: border-box;
}

.selector-for-some-widget {
    /* これは、bootstrapを使用する際に、box-sizingを変更する */
    box-sizing: border-box;
  }

/* profile プロフィール ここから */
#header{
    height: 219px;
}
    
#self-introduction{

}
    
#icon-username-wrapper  {
    
}  

/* profile プロフィール ここまで */


/* signup_login.htmlのcss ここから */




/* signup_login.htmlのcss ここまで */




/* SP版のCSSはここから書いてね */
@media screen and (max-width: 576px) {
    /* signup_login.htmlのcssここから */
    #signup {
        width: 100%;
        padding: 1rem;
    }
    /* signup_login.htmlのcssここまで */
}