<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Randaction{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    />
    <!-- CSS や JavaScript のリンクなどの共通のヘッダー情報 -->
  </head>
  <body>
    <!-- PS, PC共通で、missionを常に上部に固定する -->
    <div id="mission">ミッションをここに表示</div>

    <!-- SP用のnav: 画面下と、画面右上。ホーム, ミッション, マイページにも使用-->
    <header id="header">
      {% if current_user.is_authenticated%}
      <a href="/"><img src="" alt="" id="logo" /></a>
      <p>{{ current_user.username }}がログイン中</p>
      {% else %}
      <a href="/entry" role="button">ログイン</a>
      <a href="/entry" role="button">新規登録</a>

      {% endif %}
      <a href="/logout" role="button">ログアウト</a>

    </header>


    <nav id="sp-nav">
      <ul id="sp-nav-list">
        <li class="sp-nav-item">
          <a href="/mission" class="sp-nav-item-link">タイムライン</a>
        </li>
        <li class="sp-nav-item">
          <a href="/profile" class="sp-nav-item-link">投稿作成のボタン</a>
        </li>
        <li class="sp-nav-item">
          <a href="/" class="sp-nav-item-link">プロフィール</a>
        </li>
      </ul>
    </nav>

    <!-- <a href="" class="sp-nav-item-link">投稿作成ボタン</a> -->
    <!-- <div role="button"></div> -->


    <!-- PC用のnav: 画面の横幅の3/1の幅で、画面横に固定。ホーム, ミッション, マイページにも使用。-->
    <nav id="pc-nav">
      <ul id="pc-nav-list">
        <li class="pc-nav-item">
          <a href="/" class="pc-nav-item-link">ロゴ</a>
        </li>
        <li class="pc-nav-item">
          <a href="/" class="pc-nav-item-link">ホーム</a>
        </li>
        <li class="pc-nav-item">
          <a href="/send_post" class="pc-nav-item-link">投稿を作成</a>
        </li>
        <li class="pc-nav-item">
          <a href="/profile" class="pc-nav-item-link">プロフィール</a>
        </li>

        <!-- 以下の2つはuser情報があったらログアウト、user情報がない場合はentryを返す -->
        <li class="pc-nav-item">
          <a href="/logout" class="pc-nav-item-link">ログアウト</a>
        </li>
        <li class="pc-nav-item">
          <a href="/entry" class="pc-nav-item-link">サインイン</a>
        </li>

      </ul>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='main.js') }}"
    ></script>
  </body>
</html>
