{% extends "base.html" %}
{% block title %}Edit Profile - Randaction{% endblock %}
{% block content %}

<!-- edit_profile 画面 usernameかemailかはログイン画面の時と同様 -->

<form action="{{ url_for('edit_profile') }}" method="POST" id="create_post" enctype="multipart/form-data">
    {{ edit_form.hidden_tag() }}
    <div class="form-group">
        {{ edit_form.username.label(class="form-control-label") }}
        {{ edit_form.username(id="user_name", value=current_user.username ) }}
    </div>

    <div class="form-group">
        {{ edit_form.caption.label(class="form-control-label") }}
        {{ edit_form.caption(class="form-control", value=current_user.caption ) }}
    </div>
    <div>
        {{ edit_form.email.label(class="form-control-label") }}
        {{ edit_form.email(class="form-control", value= current_user.email )}}
    </div>
    <div class="form-group">
        {{ edit_form.image.label(class="form-control-label") }}
        {{ edit_form.image(class="form-control", value= current_user.image )}}
    </div>

    <div class="form-group">
        {{ edit_form.submit(class="btn") }}
    </div>

    <!-- <label for="caption">キャプション</label>
    <input type="text" name="caption" id="caption" />
    <label for="image-data">画像</label>
    <input type="file" accept="image/*" id="image-data" />
    <input type="submit" value="投稿する" /> -->
</form>

{% endblock %}