{% extends "base.html" %}{% block title %}Profile - Randaction{% endblock %}
{% block content %}
<!-- 自己紹介スペース:
        使用するページ: プロフィールで使用。 -->

<div id="self-introduction">
</div>
  <div id="icon-username-wrapper">
    <img src="data:image/png;base64,{{ profile.image }}" alt="ユーザーアイコン" id="self-introduction-icon" />
    <div id="self-introduction-username">{{ profile.username }}</div>
  </div>
  <div id="mission-edit-wrapper">
    <!-- <div id="current-mission">参加中のミッション</div> -->
    {% if current_user.id == profile.user_id %}
    <a href="/edit_profile" id="profile-edit" role="button">プロフィールを編集</a>
    {% else %}
    <a href="/follow">フォロー</a>
    {% endif %}
    <div id="count">
      <p>ランダクション{{ profile.randaction_count }}</p>
      <p>フォロワー : {{ profile.follower_count }}</p>
      <p>フォロー : {{ profile.follow_count }}</p>
    </div>
  </div>
  <div>caption{{ profile.caption }}</div>
  
</div>

<!-- 投稿ソートボタンbutton -->
<div>
  <button class="randaction-sort" >randaction</button>
  <button class="favorite-sort">いいね</button>
</div>

<!-- プロフィール画面で使用する順番メニュー -->
<div id="profile-order-menu">
  <div id="sort-by-created-desc">randaction</div>
  <div id="group-by-mission">いいね</div>
</div>

<!-- cssの注意点: 複数のポストを囲むものなので、post"s"-wrapperとなっています。複数形に注意してね -->
<!-- <h2>自分の投稿</h2> -->
<div id="posts-wrapper">
  <article class="post">
    <div class="post-img-wrapper">
      <img src="" alt="" class="post-img" />
    </div>
  </article>
</div>
{% endblock %}

{% block script %}

<script>

  console.log({{profile}});
  var posts = {{ my_post | tojson }};
  var my_favorite_posts = {{ my_favorite_posts | tojson}}
  var postWrapper = document.getElementById('posts-wrapper');
  var randactionSortButton = document.querySelector('.randaction-sort');
  var favoriteSortButton = document.querySelector('.favorite-sort');

  // プロフィールユーザーの投稿を表示する処理
  randactionSortButton.addEventListener('click', function() {
    postWrapper.innerHTML = '';
    createRandaction(posts);
  });

  // プロフィールユーザーがいいねした投稿を表示する機能
  favoriteSortButton.addEventListener('click', function() {
    postWrapper.innerHTML = '';
    createRandaction(my_favorite_posts);
  });

  // 以下・画像表示テスト
//   console.log(posts, 1);
//   posts.forEach(post => {
//     console.log(post);

//     // "img" という文字列を createElement に渡す必要があります。
//     var testImg = document.createElement('img');

//     // post.image_data を Base64 文字列として src 属性に設定する。
//     // この例では、post.image_data が Base64 エンコードされた画像データを含む文字列である必要があります。
//     // "data:image/png;base64," などの正しいデータURL形式を使用していることを確認してください。
//     testImg.src = `data:image/png;base64,${post.image_data}`;

//     postWrapper.appendChild(testImg);
// });
  // 以上・画像表示テスト


  // createRandaction(posts);
  // var randaction = document.getElementById('sort-by-created-desc');
  // randaction.addEventListener('click', function() {
  //   // posts.sort((a, b) => b.count, - a.count);
  //   createRandaction(posts);
  // })

  // var sortFavorite = document.getElementById('group-by-mission');
  // sortFavorite.addEventListener('click', function() {
  //   // posts.sort((a, b) => a.count, - b.count);
  //   createRandaction(my_favorite_posts);
  // })
  ///////////////////////////////////////////////////////////  posts情報はのjsonで渡してください！

  // randactionを投稿する関数
  function createRandaction(posts) {
    posts.forEach(post => {
  // 投稿コンテナ
  console.log(post);
  var article = document.createElement('article');

  // プロフィール部分
  var profileWrapper = document.createElement('div');

  var profileImg = document.createElement('img');
  profileImg.setAttribute('src', '{{ profile.image }}');
  // profileImg.src = `data:image/png;base64,${profile.image}`;

  var username = document.createElement('p');
  username.textContent = '{{ profile.username }}'

  // 画像
  var randactionImg = document.createElement('img');
  randactionImg.setAttribute('class', 'randaction-img');
  randactionImg.src = `data:image/png;base64,${post.image_data}`;
  // randactionImg.setAttribute('src', post.image_data);


  // いいね + ミッションタイトル構成
  var favWrapper = document.createElement('div');
  favWrapper.setAttribute('class', 'fav-wrapper');

  var missionTitle = document.createElement('p');
  missionTitle.setAttribute('class', 'mission-title');
  missionTitle.textContent = post.mission_title;

  var icon = document.createElement('i');
  icon.setAttribute('class', 'ri-heart-line icon');

  var favCount = document.createElement('p');
  favCount.setAttribute('class', 'fav-count');
  favCount.textContent = post.fav_count;

  // キャプション
  var captionWrapper = document.createElement('div');
  captionWrapper.setAttribute('class', 'caption-wrapper');

  var caption = document.createElement('p');
  caption.setAttribute('class', 'caption');
  caption.textContent = post.caption;

  // 日付生成
  var dateTime = document.createElement('p');
  dateTime.setAttribute('class', 'date-time');
  dateTime.textContent = post.created_at ;

  profileWrapper.appendChild(profileImg);
  profileWrapper.appendChild(username);

  favWrapper.appendChild(missionTitle);
  favWrapper.appendChild(icon);
  favWrapper.appendChild(favCount);

  captionWrapper.appendChild(caption);

  article.appendChild(profileWrapper);
  article.appendChild(randactionImg);
  article.appendChild(favWrapper);
  article.appendChild(captionWrapper);
  article.appendChild(dateTime);

  postWrapper.appendChild(article);
  });
};

// サイト遷移時に読み込み
createRandaction(posts);




</script>
{% endblock %}

