<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Randactionを始める</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    />
    <!-- CSS や JavaScript のリンクなどの共通のヘッダー情報 -->
  </head>
  <body>
    <!-- ログインと登録画面
        バックエンド：ユーザー名は一意にする必要があるから、emailで登録してもらった方が良さそう？
    -->

    <!-- signup_form -->
    <h2>登録</h2>
    <form method="POST" class="container" id="signup">
      <!-- CSRF対策(トークンが生成される) -->
      {{ signup_form.hidden_tag() }}
      <div class="row">{{ signup_form.username.label }} {{ signup_form.username() }}</div>
      <div class="row">{{ signup_form.email.label }} {{ signup_form.email() }}</div>
      <div class="row">{{ signup_form.password.label }} {{ signup_form.password() }}</div>
      <div class="row">
        {{ signup_form.pass_confirm.label }} {{ signup_form.pass_confirm() }}
      </div>
      {{ signup_form.submit() }}
    </form>

    <!-- login_form -->
    <h2>ログイン</h2>
    <form method="POST" class="container" id="login">
      <!-- CSRF対策(トークンが生成される) -->
      {{ login_form.hidden_tag() }}
      <div class="row">{{ login_form.username.label }} {{ login_form.username() }}</div>
      <div class="row">{{ login_form.password.label }} {{ login_form.password() }}</div>
      {{ login_form.submit() }}
    </form>
  </body>
</html>
