{% extends "base.html"%} {% block title %}Top - Randaction{% endblock %}
{% block content %}
<!-- 
        * これは、ホーム画面のページです。 
        * id名やclass名の命名は、長くてもわかりやすさを優先しています
        * idはflaskで分割して使用することを想定し、同じURLに2つ存在しないものにつけています。ただし、id="username"のように、このページ内では重複しているものもあります
        * class名は、繰り返し使用するであろう要素につけています
        * ワイヤーフレームの「チャレンジ」は「ミッション」で統一しています
        * containerではなくwrapperという単語を使用しています
    -->

<!-- 投稿: 
        CSSの注意点: 画面幅が960px以下は2列、それ以上は3列で表示。ただしプロフィールページでは1列。
        使用するページ: ミッション、プロフィール -->
<div id="posts">
  <!-- ホーム画面で使用する順番メニュー -->
  <div id="home-order-menu">
    <div id="reload-button">
      <img src="Rectangle 92.png" alt="">
    </div>
    <div id="sort-by-favorites">いいね順</div>
    <div id="sort-by-created-desc">新しい順</div>
  </div>

  <!-- cssの注意点: 複数のポストを囲むものなので、post"s"-wrapperとなっています。複数形に注意してね -->
  <div id="posts-wrapper">
    <article class="post">
      <div class="user-name">
        <div class="user-info-wrapper">
          <img src="" alt="" class="user-info" />
        </div>
        <p>ユーザー名</p>
      </div>
      <div class="post-img-wrapper">
        <img src="" alt="" class="post-img" />
      </div>
      <div class="post-fav">
        <p class="mission-title">{{ NULL }}</p>
        <i class="ri-heart-line"></i>
        <p class="fav-count">{{ NULL }}</p>
      </div>
      <div class="post-caption">
        <p>{{ NULL }}</p>
      </div>
      <div class="post-date">
        <p>{{ NULL }}</p>
      </div>
    </article>
  </div>
</div>

<!-- 投稿作成 -->
<form action="{{ url_for('send_post') }}" method="POST" id="create_post" enctype="multipart/form-data">
  {{ send_post.hidden_tag() }}
  <div class="form-group">
    {{ send_post.user_id.label(class="form-control-label") }}
    {{ send_post.user_id(id="user_id") }}
  </div>

  <div class="form-group">
    {{ send_post.caption.label(class="form-control-label") }}
    {{ send_post.caption(class="form-control") }}
</div>
  <div class="form-group">
    {{ send_post.image_data.label(class="form-control-label") }}
    {{ send_post.image_data(class="form-control")}}
  </div>

  <div>
    {{ send_post.mission_title.label(class="form-control-label") }}
    {{ send_post.mission_title(class="form-control")}}
  </div>
  <div class="form-group">
    {{ send_post.submit(class="btn") }}
  </div>
  
  <!-- <label for="caption">キャプション</label>
  <input type="text" name="caption" id="caption" />
  <label for="image-data">画像</label>
  <input type="file" accept="image/*" id="image-data" />
  <input type="submit" value="投稿する" /> -->
</form>
<script>
  var posts = {{ all_posts | tojson }};
  var postsWrapper = document.querySelector("#posts-wrapper")
  for (let i = 0; i < posts.length; i++) {
    var post = document.createElement("article");
    post.setAttribute('class', 'post')
      var username = document.createElement("div");
      username.setAttribute('class', 'user-name');
      post.appendChild(username);

        var user_info_wrapper = document.createElement("div");
        user_info_wrapper.setAttribute('class', 'user-info-wrapper');
        username.appendChild(user_info_wrapper);

          var user_info = document.createElement("img");
          user_info.setAttribute('class', 'user-info');
          user_info.setAttribute('src', NULL);
          user_info_wrapper.appendChild(user_info);

        var user_name = document.createElement("p");
        user_name.textContent = posts[i].user_id;
        username.appendChild(user_name);

      var post_img_wrapper = document.createElement("div");
      post_img_wrapper.setAttribute('class', 'post-img-wrapper');
      post.appendChild(post_img_wrapper);

        var post_img = document.createElement("img");
        post_img.setAttribute('class', 'post-img');
        post_img.setAttribute('src', posts[i].image_data);
        post_img_wrapper.appendChild(post_img);
        
      var post_fav = document.createElement("div");
      post_fav.setAttribute('class', 'post-fav');
      post.appendChild(post_fav);
        var mission_title = document.createElement("p");
        mission_title.setAttribute('class', 'mission-title');
        post_fav.appendChild(mission_title);
        var fav_icon = document.createElement("i");
        fav_icon.setAttribute('class', 'ri-heart-line');
        post_fav.appendChild(fav_icon);
        var fav_count = document.createElement("p");
        fav_count.setAttribute('class', 'fav-count');
        fav_count.textContent = posts[i].fav_count;
        post_fav.appendChild(fav_count);

      var post_caption = document.createElement("div");
      post_caption.setAttribute('class', 'post-caption');
      post.appendChild(post_caption);
        var caption = document.createElement("p");
        caption.textContent = posts[i].caption;
        post_caption.appendChild(caption);
      var post_date = document.createElement("div");
      post_date.setAttribute('class', 'post-date');
      post.appendChild(post_date);
        var date = document.createElement("p");
        date.textContent = posts[i].created_at;
        post_date.appendChild(date);

    postsWrapper.appendChild(post);
  }

  var sortbyFavorites = document.querySelector("#sort-by-favorites");
  sortbyFavorites.addEventListener("click", function() {
    var sortedPosts = posts.sort((a,b) => b.favocount - a.favocount);
    for(let i= 0; i < sortedPosts.length; i++){
      var post = document.createElement("div");
      post.setAttribute('class', 'post')
      var username = document.createElement("div");
      username.setAttribute('class', 'user_name');
      post.appendChild(username);
      var user_info_wrapper = document.createElement("img");
      user_info_wrapper.setAttribute('class', 'user_info_wrapper');
      username.appendChild(user_info_wrapper);
      var user_name = document.createElement("p");
      username.appendChild(user_name);
      var post_img = document.createElement("div");
      post_img.setAttribute('class', 'post_img');
      post.appendChild(post_img);
      var event_img = document.createElement("img");
      post_img.appendChild(event_img);
      var post_fav = document.createElement("div");
      post_fav.setAttribute('class', 'post_fav');
      post.appendChild(post_fav);
      var fav_icon = document.createElement("i");
      fav_icon.setAttribute('class', 'ri-heart-line');
      post_fav.appendChild(fav_icon);
      var fav_count = document.createElement("p");
      post_fav.appendChild(fav_count);
      var post_caption = document.createElement("div");
      post_caption.setAttribute('class', 'post_caption');
      post.appendChild(post_caption);
      var caption = document.createElement("p");
      post_caption.appendChild(caption);

      postWrapper.appendChild(post);
    }
  

    // いいね順に並び替える
  });

</script>
{% endblock %}